<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.srm.unity.mapper.SrmUnitDefMapper">
    
    <resultMap type="SrmUnitDef" id="SrmUnitDefResult">
        <result property="unitCode"    column="unit_code"    />
        <result property="unit"    column="unit"    />
        <result property="convertUnit"    column="convert_unit"    />
        <result property="convertRate"    column="convert_rate"    />
        <result property="unitPrecision"    column="unit_precision"    />
        <result property="unitTypeName"    column="unit_type_name"    />
        <result property="sourceSys"    column="source_sys"    />
        <result property="unitStatus"    column="unit_status"    />
    </resultMap>

    <sql id="selectSrmUnitDefVo">
        select unit_code, unit, convert_unit, convert_rate, unit_precision, unit_type_name, source_sys, unit_status,use_describe from srm_unit_def
    </sql>

    <select id="selectSrmUnitDefList" parameterType="SrmUnitDef" resultMap="SrmUnitDefResult">
        <include refid="selectSrmUnitDefVo"/>
        <where>
            <if test="unit != null  and unit != ''">and unit = #{unit}</if>
            <if test="convertUnit != null  and convertUnit != ''">and convert_unit = #{convertUnit}</if>
            <if test="convertRate != null ">and convert_rate = #{convertRate}</if>
            <if test="unitPrecision != null ">and unitPrecision = #{unit_precision}</if>
            <if test="unitTypeName != null  and unitTypeName != ''">and unit_type_name like concat('%', #{unitTypeName},
                '%')
            </if>
            <if test="sourceSys != null  and sourceSys != ''">and source_sys = #{sourceSys}</if>
            <if test="unitStatus != null ">and unit_status = #{unitStatus}</if>
            <if test="useDescribe!=null">and use_describe = #{useDescribe}</if>
        </where>
    </select>
    
    <select id="selectSrmUnitDefByUnitCode" parameterType="Long" resultMap="SrmUnitDefResult">
        <include refid="selectSrmUnitDefVo"/>
        where unit_code = #{unitCode}
    </select>

    <insert id="insertSrmUnitDef" parameterType="SrmUnitDef" useGeneratedKeys="true" keyProperty="unitCode">
        insert into srm_unit_def
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="unit != null and unit != ''">unit,</if>
            <if test="convertUnit != null">convert_unit,</if>
            <if test="convertRate != null">convert_rate,</if>
            <if test="unitPrecision != null">unit_precision,</if>
            <if test="unitTypeName != null">unit_type_name,</if>
            <if test="sourceSys != null">source_sys,</if>
            <if test="unitStatus != null">unit_status,</if>
            <if test="useDescribe !=null">use_describe,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="unit != null and unit != ''">#{unit},</if>
            <if test="convertUnit != null">#{convertUnit},</if>
            <if test="convertRate != null">#{convertRate},</if>
            <if test="unitPrecision != null">#{unit_precision},</if>
            <if test="unitTypeName != null">#{unitTypeName},</if>
            <if test="sourceSys != null">#{sourceSys},</if>
            <if test="unitStatus != null">#{unitStatus},</if>
            <if test="useDescribe !=null">#{useDescribe},</if>
        </trim>
    </insert>

    <update id="updateSrmUnitDef" parameterType="SrmUnitDef">
        update srm_unit_def
        <trim prefix="SET" suffixOverrides=",">
            <if test="unit != null and unit != ''">unit = #{unit},</if>
            <if test="convertUnit != null">convert_unit = #{convertUnit},</if>
            <if test="convertRate != null">convert_rate = #{convertRate},</if>
            <if test="unitPrecision != null">precision = #{unit_precision},</if>
            <if test="unitTypeName != null">unit_type_name = #{unitTypeName},</if>
            <if test="sourceSys != null">source_sys = #{sourceSys},</if>
            <if test="unitStatus != null">unit_status = #{unitStatus},</if>
            <if test="useDescribe !=null">use_describe=#{useDescribe},</if>
        </trim>
        where unit_code = #{unitCode}
    </update>

    <delete id="deleteSrmUnitDefByUnitCode" parameterType="Long">
        delete from srm_unit_def where unit_code = #{unitCode}
    </delete>

    <delete id="deleteSrmUnitDefByUnitCodes" parameterType="String">
        delete from srm_unit_def where unit_code in 
        <foreach item="unitCode" collection="array" open="(" separator="," close=")">
            #{unitCode}
        </foreach>
    </delete>
</mapper>