<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.srm.risk.mapper.RiskMapper">

    <insert id="insertTaskRisk">
        INSERT INTO srm_demo.srm_supplier_tax_risk_case(publish_time, case_type, department, taxpayer_name)
        values (#{publishTime}, #{caseType}, #{department}, #{taxpayerName})
    </insert>

</mapper>