<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.srm.supplier.mapper.SrmSupplierIllegalRiskMapper">
    
    <resultMap type="SrmSupplierIllegalRisk" id="SrmSupplierIllegalRiskResult">
        <result property="id"    column="id"    />
        <result property="putDate"    column="put_date"    />
        <result property="putReason"    column="put_reason"    />
        <result property="putDepartment"    column="put_department"    />
        <result property="removeDepartment"    column="remove_department"    />
        <result property="removeDate"    column="remove_date"    />
        <result property="removeReason"    column="remove_reason"    />
        <result property="supplierName"    column="supplier_name"    />
    </resultMap>

    <sql id="selectSrmSupplierIllegalRiskVo">
        select id, put_date, put_reason, put_department, remove_department, remove_date, remove_reason, supplier_name from srm_supplier_illegal_risk
    </sql>

    <select id="selectSrmSupplierIllegalRiskList" parameterType="SrmSupplierIllegalRisk" resultMap="SrmSupplierIllegalRiskResult">
        <include refid="selectSrmSupplierIllegalRiskVo"/>
        <where>  
            <if test="putDate != null "> and put_date = #{putDate}</if>
            <if test="putReason != null  and putReason != ''"> and put_reason = #{putReason}</if>
            <if test="putDepartment != null  and putDepartment != ''"> and put_department = #{putDepartment}</if>
            <if test="removeDepartment != null  and removeDepartment != ''"> and remove_department = #{removeDepartment}</if>
            <if test="removeDate != null "> and remove_date = #{removeDate}</if>
            <if test="removeReason != null  and removeReason != ''"> and remove_reason = #{removeReason}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
        </where>
    </select>
    
    <select id="selectSrmSupplierIllegalRiskById" parameterType="Long" resultMap="SrmSupplierIllegalRiskResult">
        <include refid="selectSrmSupplierIllegalRiskVo"/>
        where id = #{id}
    </select>

    <insert id="insertSrmSupplierIllegalRisk" parameterType="SrmSupplierIllegalRisk" useGeneratedKeys="true" keyProperty="id">
        insert into srm_supplier_illegal_risk
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="putDate != null">put_date,</if>
            <if test="putReason != null">put_reason,</if>
            <if test="putDepartment != null">put_department,</if>
            <if test="removeDepartment != null">remove_department,</if>
            <if test="removeDate != null">remove_date,</if>
            <if test="removeReason != null">remove_reason,</if>
            <if test="supplierName != null">supplier_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="putDate != null">#{putDate},</if>
            <if test="putReason != null">#{putReason},</if>
            <if test="putDepartment != null">#{putDepartment},</if>
            <if test="removeDepartment != null">#{removeDepartment},</if>
            <if test="removeDate != null">#{removeDate},</if>
            <if test="removeReason != null">#{removeReason},</if>
            <if test="supplierName != null">#{supplierName},</if>
         </trim>
    </insert>

    <update id="updateSrmSupplierIllegalRisk" parameterType="SrmSupplierIllegalRisk">
        update srm_supplier_illegal_risk
        <trim prefix="SET" suffixOverrides=",">
            <if test="putDate != null">put_date = #{putDate},</if>
            <if test="putReason != null">put_reason = #{putReason},</if>
            <if test="putDepartment != null">put_department = #{putDepartment},</if>
            <if test="removeDepartment != null">remove_department = #{removeDepartment},</if>
            <if test="removeDate != null">remove_date = #{removeDate},</if>
            <if test="removeReason != null">remove_reason = #{removeReason},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSrmSupplierIllegalRiskById" parameterType="Long">
        delete from srm_supplier_illegal_risk where id = #{id}
    </delete>

    <delete id="deleteSrmSupplierIllegalRiskByIds" parameterType="String">
        delete from srm_supplier_illegal_risk where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>