<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.srm.activiti.mapper.ActivitiMapper">
    <resultMap id="TaskVO" type="com.srm.activiti.domain.vo.TaskVO">
        <result property="name" column="NAME_"/>
    </resultMap>
    <select id="selectAllTaskByUserName" resultMap="TaskVO">
        SELECT NAME_
        FROM srm_demo.act_ru_task
        WHERE ASSIGNEE_ = #{username}
    </select>
</mapper>